{{- define "main" }}
<!DOCTYPE html>
<html>

{{ partial "head" . }}

<body>

    <div class="container" style="margin-top: 4rem;">

        {{ partial "calculator" }}

        <div class="content-wrapper">

            <div id="result">
                {{ partial "homepage" . }}
            </div>

            <div class="loading-icon">
                <img src="/loading.svg">
                <p>Xin chờ chút...</p>
            </div>

        </div>

        {{ partial "footer" . }}

    </div>
    
</body>

</html>
{{ end }}

