<div class="content-wrapper">
    <h1 class="text-center">
        <a href="/">
            Xem dự đoán số mệnh qua Thần số học Pythagoras
        </a>
    </h1>
    <p>
        Môn khoa học huyền bí Tây phương gọi là <b>Thần Số (Numerology)</b> dựa theo nhân sinh quan của Thần Tam Giác (Divine Triangle). Nhờ Thần Số mà người ta đoán được nhân cách, tính tình, công việc, năng khiếu, tình duyên v.v... của một đời người. Numerology đã phát xuất 600 năm trước Thiên Chúa giáng sinh và do nhà toán học Pythagoras lập ra, dùng phương trình pythagorean theorem để giải đoán định mệnh.
    </p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name"><b>Tên của bạn</b></label>
            <input type="text" class="form-control" id="name" placeholder="Họ tên">
        </div>
        <div class="form-group col-md-6">
            <label for="birthday"><b>Ngày sinh</b></label>
            <input type="date" min="1800-01-01" max="2030-12-31" class="form-control" id="birthday" placeholder="Ngày tháng năm sinh">
        </div>
    </div>
    <button id="calculate-btn" type="button" class="btn btn-primary">Tính toán</button>
</div>
