<div class="content-wrapper">
    <h1 class="text-center">
        <a href="/">
            Xem dự đoán số mệnh qua Thần số học Pythagoras
        </a>
    </h1>
    <p>
        Trong <b>Thần số học</b>, hệ thống các con số cho biết tính cách và vận mệnh của một con người. Từ tên và ngày sinh, các nhà <b>Thần số học</b> có thể tính toán các con số là tượng trưng cho những đặc điểm, sức mạnh, số phận mỗi cá nhân. Có thể nói <b>Thần số học</b> là một tấm gương phản chiếu hành trình cuộc đời của một người dưới dạng các con số. Hãy cùng khám phá vận mệnh của bản thân thông qua <b>Công cụ tính toán Thần số học</b> của chúng tôi!
    </p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name"><b>Tên của bạn</b></label>
            <input type="text" class="form-control" id="name" placeholder="Họ tên">
        </div>
        <div class="form-group col-md-6">
            <label for="birthday"><b>Ngày sinh</b></label>
            <input type="date" min="1800-01-01" max="2030-12-31" class="form-control" id="birthday" placeholder="Ngày tháng năm sinh">
        </div>
    </div>
    <button id="calculate-btn" type="button" class="btn btn-primary">Tính toán</button>
</div>
