<meta property="og:url"                content="{{ .Permalink | absURL }}" />
<meta property="og:type"               content="article" />
<meta property="og:description"        content="Môn khoa học huyền bí Tây phương gọi là Thần Số (Numerology) dựa theo nhân sinh quan của Thần Tam Giác (Divine Triangle). Nhờ Thần Số mà người ta đoán được nhân cách, tính tình, công việc, năng khiếu, tình duyên v.v... của một đời người. Numerology đã phát xuất 600 năm trước Thiên Chúa giáng sinh và do nhà toán học Pythagoras lập ra, dùng phương trình pythagorean theorem để giải đoán định mệnh." />
<meta property="og:image"              content="{{ absURL "/thumbnail.jpg" }}" />
